DEBUG=False

# User 서버에 저장된 SERVICE_ID
SERVICE_ID=6d935940-d4c5-4800-93c1-c2c6e0bd3944
SERVICE_ACCOUNT_SUB=replace-with-service-account-sub

TIP_RESTAURANT_ID=1
E_RESTAURANT_ID=2

# 각종 설정(Debug 변경시 변경 필요)
MEAL_TYPES_FILE_NAME=meal_types.json
USER_SERVICE_URL=http://user-service:8000/
TIMEZONE=Asia/Seoul

KC_SERVER_URL=https://sandol.sio2.kr/auth/
KC_CLIENT_ID=sandol-meal-service
KC_CLIENT_SECRET=replace-with-keycloak-client-secret
KC_REALM=Sandori

# docker-compose의 healthcheck는
# 하드코딩 되어 있으므로 꼭 함께 수정
POSTGRES_DB=meal_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_HOST=meal-service-db
POSTGRES_PORT=5432
